body {
    margin: 0;
    padding: 0;
    font-family: "jetbrains mono", sans-serif;
    background: white;
}

main {
    padding: 0 20px;
    max-width: 1000px;
}

h1 {
    font-size: 24px;
    color: #333; /* darken the text color */
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    color: #333; /* darken the text color */
    margin-top: 20px;
    page-break-after: avoid;
}

.summary {
    padding: 0 0 30px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; /* add margin for better separation */
}

th, td {
    padding: 12px; /* increase padding for better readability */
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #0074e4; /* use university-style blue for table header background */
    color: #fff; /* white text color for table headers */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* alternate row background color for better readability */
}

/* hover effect on table rows */
tr:hover {
    background-color: #ddd; /* light gray on hover */
}

/* add a border radius to table headers */
th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.review {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: end;

}

.remark {
    margin: 10px 0 0 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
    border: solid 2px gray;
    background: white;
}

.remark-title {
    display: inline;
    margin: 0;
    padding: 0 0 5px 0;
    font-weight: bold;
    font-size: 90%;
    color: gray;
}

.remark--negative {
    border-color: red;
}

.remark--negative .remark-title {
    color: red;
}

.remark--positive {
    border-color: green;
}

.remark--positive .remark-title {
    color: green;
}

.remark-points {
    text-align: right;
}

.chroma {
    margin: 0;
    font-size: 0.9rem;
}
